@model CMSCMV5.DAO.Student

@{
    ViewBag.Title = "Details";
}
<style>
      p a {
        border:1px solid #B6B6B6;
        border-radius: 4px;
        padding:8px;
    }
    dl {
        margin-left: 25%;
        margin-right: 25%;
        width: 500px;
        border: 1px solid #B6B6B6;
    }

    dt, dd {
        padding-top: 2em;
        padding-left: 1em;
    }
</style>

<h2></h2>

<div>
    <h4></h4>
    <a class="btn btn-danger" href="">Details Student</a>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDStudent }) |
    @Html.ActionLink("Back to List", "Index")
</p>
