@model IEnumerable<CMSCMV5.DAO.Student>

@{
    ViewBag.Title = "List of Students";
}

<h2>@Html.Raw(ViewBag.Title)</h2>

<a class="btn btn-danger" href="/Admin/Students/Create">Create New</a>
<br />
<div class="table-responsive>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.asp_User.password)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.asp_User.password)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.IDStudent }) |
                    @Html.ActionLink("Details", "Details", new { id=item.IDStudent }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.IDStudent })
                </td>
            </tr>
}

    </table>
</div>
