@model CMSCMV5.DAO.Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dates)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dates)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Credits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Credits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Days)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Days)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ETime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ETime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.asp_User.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asp_User.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.asp_User1.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asp_User1.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.asp_User2.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asp_User2.password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDCourse }) |
    @Html.ActionLink("Back to List", "Index")
</p>
