@model IEnumerable<CMSCMV5.DAO.Course>

@{
    ViewBag.Title = "List of Course";
}

<h2>@Html.Raw(ViewBag.Title)</h2>

<a class="btn btn-danger" href="/Admin/Course1/Create">Create New</a>
<br />
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dates)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Days)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ETime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Dates)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Credits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Days)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ETime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.IDCourse }) |
                    @Html.ActionLink("Details", "Details", new { id=item.IDCourse }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.IDCourse })
                </td>
            </tr>
}

    </table>
</div>
